{{--
    Chemin :/resources/js/components/posts/Index.vue
    Description: compososant de la liste des posts
    Données disponible: 
                    -- Array posts[obj(id, titre, soustitre, image,created_at,cateories[id, image.......])]
--}}

<template>
<div>
    <div id="wrapper-header">
            <div id="main-header" class="object">
                <div class="logo"><img src="img/logo-burst.png" alt="logo platz" height="38" width="90"></div>
                <div id="main_tip_search">
                    <form action="">
                      <input type="text" v-model ="searchPosts"  name="search" id="tip_search_input" required>
                    </form>
                </div>
                <div id="stripes"></div>

            </div>
        </div>
        <!-- NAVBAR-->
        <navigateur></navigateur>
    <div id="wrapper-container">
        <div class="container object">
            <div id="main-container-image">
                <section class="work1">
                    <figure class="white" v-for="post in filterPosts" :key="post.id">
                        <!-- debut => mettre le lien-->
                        <router-link :to="{name:'posts.show', params: {id: post.id}}">
                            <img :src="displayImage(post.image)" alt="" />
                            <dl>
                                <dt>{{post.titre}}</dt>
                                <dd>{{ post.texte }}
                                </dd>
                            </dl>
                        </router-link>
                        <!-- fin => mettre le lien-->
                        <div id="wrapper-part-info">
                            <div class="part-info-image1"><img :src="displayImage(post.categories.image)" alt="" width="28" height="28" />
                            </div>
                            <div id="part-info">{{post.sousTitre}}</div>
                        </div>
                    </figure>
                </section>
            </div>
        </div>
        <!-- MORE RESSOURCES-->
        <div id="wrapper-oldnew">
            <div class="oldnew">
                <div class="wrapper-oldnew-prev">
                    <div id="oldnew-prev"></div>
                </div>
                <div class="wrapper-oldnew-next">
                    <div id="oldnew-next"></div>
                </div>
            </div>
        </div>
        <!-- LOGO PLATZ-->
        <div id="wrapper-thank">
            <div class="thank">
                <div class="thank-text">pl<span style="letter-spacing:-5px;">a</span>tz</div>
            </div>
        </div>
     </div>
</div>
</template>
<script>
    export default {

        // function data 
        data(){
            return{
                searchPosts:""
            }
        },
      
       computed:{

           filterPosts: function(){
               return this.posts.filter((post)=>{
                   return post.titre.match(this.searchPosts);
               })
           },
            /**
             * type: function
             * nom:  post
             * Desc: return la liste des posts 
             */
             posts: function () {
                let cat = this.$route.params.cat
                return this.$store.getters.getPostByCat(cat)
            },

            /**
             * type: function
             * nom:  displayImage 
             * Desc: affiche les images 
             */
           displayImage: function(elets){
               return function(elets){
                   return 'img/'+elets
               }
           }
       }
         

    }
</script>
