{{--
    Chemin :/resources/js/components/posts/Show.vue
    Description: compososant du details d'un posts
    Données disponible: 
                    -- Array posts[id, titre, soustitre, image,created_at,cateories[id, image.......])]
--}}

<template>
    <div>
        <div id="wrapper-header">
            <div id="main-header" class="object">
                <div class="logo"><img src="img/logo-burst.png" alt="logo platz" height="38" width="90"></div>
                <div id="main_tip_search">
                    <form>
                      <input type="text" @keyup='search' v-model='p' disabled="disabled" id="tip_search_input"  required>
                    </form>
                </div>
                <div id="stripes"></div>
            </div>
        </div>
        <!-- NAVBAR-->
       <navigateur></navigateur>
        <div class="wrapper-container">
            <div class="container object">
                <div id="main-container-image1">
                    <div class="title-item">
                        <div class="title-icon"><img :src="displayImage(post.categories.image)" alt="" width="68"
                                height="68" /></div>
                        <div class="title-text">{{post.titre}}</div>
                        <div class="title-text-2">{{formaterDate(post.created_at)}} by Our</div>
                    </div>
                    <div class="work">
                        <figure class="white">
                            <img :src="displayImage(post.image)" alt="" />

                        </figure>
                        <div class="wrapper-text-description">
                            <div class="wrapper-file">
                                <div class="icon-file"><img :src="displayImage(post.categories.image)" alt="" width="21"
                                        height="21" />
                                </div>
                                <div class="text-file">{{post.sousTitre}}</div>
                            </div>

                            <div class="wrapper-weight">
                                <div class="icon-weight"><img src="img/icon-weight.svg" alt="" width="20" height="23" />
                                </div>
                                <div class="text-weight">23 Mo</div>
                            </div>

                            <div class="wrapper-desc">
                                <div class="icon-desc"><img src="img/icon-desc.svg" alt="" width="24" height="24" />
                                </div>
                                <div class="text-desc">{{post.texte}} </div>
                            </div>

                            <div class="wrapper-download">
                                <div class="icon-download"><img src="img/icon-download.svg" alt="" width="19"
                                        height="26" />
                                </div>
                                <div class="text-download"><a href="#"><b>Download</b></a></div>
                            </div>
                            <div class="wrapper-morefrom">
                                <div class="text-morefrom">More from {{ post.titre }}</div>
                                <div class="image-morefrom">
                                    <div v-for="( postsSimilaire,index) in postsSimilaire(post.categories.cat, post.id)" :key="postsSimilaire.id">
                                        <router-link :to="{name:'posts.show', params: {id: postsSimilaire.id}}" v-if="index < 4 && postsSimilaire.id != post.id" >
                                            <div :class="fctConcat(index+1)"><img
                                                    :src="displayImage(postsSimilaire.image)" alt="" width="430"
                                                    height="330" />
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-reply">
                            <div id="title-post-send">
                                <hr />
                                <h2>Your comments</h2>
                            </div>
                        </div>
                        <div v-for="(commentaire, index) in commentaires" :key="commentaire.id" >
                            <div v-if="commentaire.posts_id == post.id">
                                <div class="post-reply" v-if="index < 1">
                                    <div class="image-reply-post"></div>
                                    <div class="name-reply-post" >{{commentaire.pseudo}}</div>
                                    <div class="text-reply-post">{{commentaire.message}}</div>
                                </div>
                                <div class="post-reply-2" v-if="index >= 1">
                                    <div class="image-reply-post"></div>
                                    <div class="name-reply-post" >{{commentaire.pseudo}}</div>
                                    <div class="text-reply-post">{{commentaire.message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-send">
                        <div id="main-post-send">
                            <div id="title-post-send">Add your comment</div>
                            <form id="contact">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phil" placeholder=" Entrez Pseudo" v-model="pseudo">
                                </div>
                                <fieldset>
                                    <p><textarea id="message" v-model="message"  name="message" maxlength="500" placeholder="Votre Message"
                                            tabindex="5" cols="30" rows="4"></textarea></p>
                                </fieldset>
                                <div style="text-align:center;"><input type="submit" @click.prevent="cmtStore" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper-thank">
            <div class="thank">
                <div class="thank-text">bu<span style="letter-spacing:-5px;">rs</span>tfly</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        // les datas 
        data() {
            return {
                commentaires: [],
                message:'',
                pseudo:'',
                posts_id:null,
                p:'',
        
            }
        },

        /**
         * type: function
         * nom:  post
         * Desc: transaction axios retun les datas sur les commentairess 
         */
        created: function () {
            axios.get('api/commentaires')
                .then(reponsePHP => this.commentaires = reponsePHP.data);
            
        },
      
        methods:{

             /**
              * type: function
              * nom:  cmtStore
              * Desc: Permet de save les messages dans la database
            */
            cmtStore(){
                this.posts_id = this.$route.params.id
                axios.post('api/commentaires',{
                    message:  this.message,
                    pseudo:   this.pseudo,
                    posts_id: this.posts_id
                }).then(reponsePHP =>{this.commentaires.push(reponsePHP.data);})
             
                if(this.commentaires){
                    this.message ='';
                    this.pseudo='';
                }
           }
            
        },
           
        computed: {
           
            /**
             * type: function
             * nom:  fctConcat
             * Desc: elle permet de concaténer
             */
            fctConcat: function (elets) {
                return function (elets) {
                    return 'image-morefrom-'+ elets;
                }
            },

            /**
             * type: function
             * nom:  post
             * Desc: return  le detail d'un post
             */
            post: function () {
                let id = this.$route.params.id
                return this.$store.getters.getPostById(id)
            },

             /**
             * type: function
             * nom:  postsSimilaire 
             * Desc: fait un tri dans la liste des posts qu'elle return à la demande 
             */
            postsSimilaire: function (elets) {
                let posts = this.$store.getters.getPosts;
                return function (elets) {
                          return posts.filter(post => post.categories.cat == elets);
                       
                }

            },

            /**
             * type: function
             * nom:  displayImage 
             * Desc: affiche les images 
             */
            displayImage: function (elets) {
                return function (elets) {
                    return 'img/' + elets
                }
            },

            /**
             * type: function
             * nom:  formaterDate 
             * Desc: formater une date 
             */
            formaterDate: function (date) {
                return function (date) {
                    let event = new Date(date)
                    return (event.toDateString())
                }
            }
        }
    }    
</script>
