{{--
    Chemin :/resources/js/components/posts/Index.vue
    Description: compososant de la liste des posts
    Données disponible: 
                    -- Array posts[obj(id, titre, soustitre, image,created_at,cateories[id, image.......])]
--}}

<template>
    <div>
        <!-- NAVBAR-->
        <div id="wrapper-navbar">
            <div class="navbar object">             
                <div id="wrapper-bouton-icon" v-for="categorie in categories" :key="categorie.cat">
                   <router-link id="bouton-ai" :to="{name:'posts.indexByCat', params: {cat: categorie.cat}}"> 
                       <img :src="displayImage(categorie.image)" alt="illustrator" title="Illustrator" height="28" width="28">
                    </router-link>  
                </div>
                <div id="wrapper-bouton-icon">
                    <router-link id="bouton-premium" to="/">
                         <img src="img/icon-premium.svg" alt="premium" title="Premium" height="28" width="28">
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
     
        computed:{
            /**
             * type: function
             * nom:  categories
             * Desc: return la liste des categories
             */
            categories(){
                return this.$store.getters.getCategories;
            },

            /**
             * type: function
             * nom:  displayImage
             * Desc: elle permet d'afficher une image après une concaténation
             */
            displayImage: function (elets) {
                return function (elets) {
                    return 'img/' + elets
                }
            },
            
        }
    }
</script>
